In [34]:
testy = [1,2,3,4]
testy.append('1')

In [35]:
testy[0] = 'rar'

In [36]:
[i for i in testy] # List comprehension

['rar', 2, 3, 4, '1']

In [37]:
testy

['rar', 2, 3, 4, '1']

In [38]:
testy.append([1,2,3])

In [39]:
testy

['rar', 2, 3, 4, '1', [1, 2, 3]]

In [40]:
testy[5][1]

2

In [41]:
listy = [9,1,1,1,2,3,4,5,6,7,8,9,4,4,3,2]
dict(sorted({i:listy.count(i) for i in listy}.items())) # Get counts for occurance in a list

{1: 3, 2: 2, 3: 2, 4: 3, 5: 1, 6: 1, 7: 1, 8: 1, 9: 2}

In [45]:
oh_tuple = (1,2,3)

In [46]:
oh_tuple[0] = 'NEW' # Tuples are immutable, do not support item assigment

TypeError: 'tuple' object does not support item assignment

In [51]:
sety = {1,1,1,2,3,4,5,5,5} # We can create sets without using set()
# Simply a dict with no key:values

In [52]:
sety.add(10) # We use add() to append to sets
sety

{1, 2, 3, 4, 5, 10}

In [55]:
print(1 > 2)
print(1 != 2)
print(1 == 2)
print(1 < 2)

False
True
False
True

In [60]:
print(1 < 2 and 3 > 1)
print(1 < 2 and 3 < 1) # both must be true
print(1 < 2 or 3 < 1 ) # one must be true

True
False
True

In [61]:
True and False
# By default return is True

False

In [62]:
if 1 < 2:
    print('lol')

lol

In [64]:
if 'lol' == 'fakk':
    print('asd')
elif 3 == 3:
    print('hehe')
else:
    print('asd2')

hehe

In [69]:
seq = 0
while seq < 100:
    print('bajs')
    seq += 100

bajs

In [77]:
seq1 = list(range(1,101))
for i in seq1:
    if i % 12 == 0:
        print(str(i)+ ' is div by 12')

12 is div by 12
24 is div by 12
36 is div by 12
48 is div by 12
60 is div by 12
72 is div by 12
84 is div by 12
96 is div by 12

In [80]:
for i in range(0, 1):
    print(i)
print(list(range(0,5)))

0
[0, 1, 2, 3, 4]

In [84]:
[i**2 for i in range(1,5)]

[1, 4, 9, 16]

In [90]:
def my_func(name):
    print('Hello ' + name)

In [92]:
my_func('Jose')

Hello Jose

In [94]:
my_func #If we dont call the function wiht () then py just tells us what it is

In [98]:
def square(num):
    """
    This is a docstring
    Can go multiple lines
    This function squares a value
    """
    return num**2

In [100]:
tesa = square(2)
tesa

4

In [102]:
square # Shift + Tab this bad boy to show documentation

In [105]:
seq3 = list(range(1,6))

In [108]:
list(map(square, seq3))

[1, 4, 9, 16, 25]

In [109]:
list(map(lambda x:x**2, seq3)) #Lamba squared

[1, 4, 9, 16, 25]

In [111]:
list(filter(lambda i:i%2 == 0, seq3)) #Filtrera ut jämna

[2, 4]

In [113]:
s = 'hello my name is SAM'

In [118]:
print(s.lower())
print(s.upper())
print(s.split(' '))
print(s.replace(' ', '_'))

hello my name is sam
HELLO MY NAME IS SAM
['hello', 'my', 'name', 'is', 'SAM']
hello_my_name_is_SAM

In [136]:
dicts = {'key1':1, 'key2':2, 'key3':3}
print(dicts.items())
print(dicts.values())

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])
dict_values([1, 2, 3])

In [124]:
restys = [1,2,3,4,5]
first = restys.pop(0)

In [126]:
print(restys)
print(first) #Poped off!

[2, 3, 4, 5]
1

In [128]:
'x' in restys

False

In [131]:
# Tuple unpacking
x = [(1,2),(3,4),(5,6)]

In [135]:
for a,b in x:
    print(a,b)

1 2
3 4
5 6

In [139]:
# Similarly to Tuple unpacking
for a,b in dicts.items():
    print(a,b)

key1 1
key2 2
key3 3